* {
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
  background: #eee;
  display: grid;
  place-content: center;
  min-height: 100vh;
  margin: 0;
}

.container {
  border: 1px solid #2d2db1;
  color: #4b13ce;
  padding: 1rem;
  border-radius: 4px;
}
